
body {
  height: 100vh;
  margin: 1vh 1vw;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-height: 100vh;
}
a{
  text-decoration: none;
}
img {
  background-size: cover;
}


button {
  background-color: #C4C1A4;
  border: none;
  width: auto;
  height: 4vh;
  color: white;
  font-size: 1rem;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* navbar and sidebar styling */
.navbar {
  height: 9vh;
  background-color: #C4C1A4;
  color: white;
  font-size: 2rem;
  display: flex;
}

.logo-name {
  margin-top: 1.5vh;

}

.logo {
  background: url("../assets/images/cookbook.png") no-repeat;
  width: 100px;
  height: 80px;
}

.sideBanner {
  width: 18vw;
  background: #FFC6AC;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  /* position: relative; */
}
.homeLink,
.aboutLink {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 1.5rem;
  margin: 1vh 2vw;
}

.sideBanner img{
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 10vh;
}

/* footer styling */
.footer {
  position: absolute;
  bottom: 0;
  background-color:#C4C1A4;
  width: 100vw;
  height: 2vh;
  padding: 1rem;
  text-align: center;
}
.footer a{
color: black;
font-family: 'Courier New', Courier, monospace;
font-style: italic;
font-size: 20px;
font-weight: bold;
}
.recipe-form {
  margin: 5vw 5vh;
  padding: 10vw 10vh;
}

.input {
  margin: 10px 5px;
  padding: 10px;
}
.createRecBtn{
  width: auto;
 margin: 1vh ;
 float: right;
 /* margin-right: 2vw; */
 text-align: center;
 display: flex;
 padding: 10px;
 height: auto;
}
.createRecBtn img{
  width: 25px;
  height: 25px;
}
.createRecBtn span{
  margin-top: 5px;
  margin-left: 10px;

}
.error-message{
  color:rgb(61, 61, 228);
  margin:10px;
font-size: 25px;
font-weight: bold;
}