body{
  height: 100vh;
}
.footer{
  /* position: absolute;
  bottom: 0; */
}
.recipe-list{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.recipe-card {
  min-width: 25%;
  margin: 30px;
  border: 1px solid black;
  
}

.recipe-details {
  border: 1px solid black;
}

.recipe-image{
  width: 50px;
  height: 50px;
}
.create-recipe{
  margin: 10px;
 color: white;
  background-color: rgb(70, 117, 245);
  padding: 10px;
}
.recipe-form{
  margin: 5vw 5vh;
  padding: 10vw 10vh;
}
.input{
  margin: 10px 5px;
  padding: 10px;
}